
@font-face {   font-family: Myriad Pro Regular;  src: url(fonts/Myriad\ Pro\ Regular.ttf); font-weight:normal; font-size:24px; }

:root{
    --azul-fundo: #080027;
    --amarelo-logo: #FECA01;
    --amarelo-selecionado:rgb(168, 136, 9);
    --verde-logo: #00A962;
    --verde-logo-transparente: #00a963e5;
    --laranja-logo :#c26700;
    --transparente : #FFFFFF00;
}

body{
    background-color: var(--azul-fundo);
}

*{
    margin: 0;
    padding: 0;
}

.bem-vindo{
    height: 100vh;
}

.semear-navbar {
    padding-left: 25vw;
    overflow: hidden;
    background-color: var(--azul-fundo);
    position: fixed; 
    top: 0; 
    width: 100%; 
  }

  .main {
    margin-top: 0; 
  }

  .item-menu{
    color: var(--amarelo-logo);
  }
  .item-menu:hover{
    color: var(--amarelo-selecionado);
  }

  .inicial-externa
  {
    width: 100vw;
    height: 100vh;
  }
  

  section.bem-vindo{
    background-image: url("images/fachada.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .inicial-meio{
    height: 40%;
    width: 40%;
    padding: 1%;
    background-color: var(--verde-logo-transparente);
    
    
  }
  .inicial-interna{
   
    height: 100%;
    width: 100%;

    background-color: var(--transparente);
    border: solid;
    border-width: 2px;
    border-color: white;

    text-align: center;
    color: white;
   
  }

  
  span.bem-vindo{
    letter-spacing: 3px;
    font-family: Myriad Pro Regular;
    font-size: 15px;
  }

  h2.apresentacao{
    
    font-size: 35px;
    font-family: Hasteristico;
  }

  button.botao-saiba-mais{
    background-color: var(--transparente);
    border: solid;
    border-color: white;
    border-width: 2px;
    color:white;
    padding: 5px;
    transition: 500ms;
  }

  button.botao-saiba-mais:hover{
    background-color: white;
    color: var(--azul-fundo);
  }