:root{
  --azul-fundo: #080027;
  --amarelo-logo: #FECA01;
  --amarelo-selecionado:rgb(168, 136, 9);
  --verde-logo: #00A962;
  --verde-logo-transparente: #00a963e5;
  --laranja-logo :#c26700;
  --transparente : #FFFFFF00;
  --whats-green : #25d366;
  --cinza-fundo: rgb(235, 235, 235);
}


div.cabecalho{
  background-color: var(--azul-fundo);
  height: 7vh;
  color: white;
}

div.cabecalho div.row{
  height: 100%;
}


h4.slogan{
  font-size: 16px;
}
@media (max-width: 500px) {
  h4.slogan {
      font-size: 12px;
  }
}

p.whatsapp{
  margin: auto;
}
@media (max-width: 500px) {
  p.whatsapp {
      margin-top: 1vh;
  }
}

div.whatsapp{
  background-color: var(--whats-green);
  
  height: 3vh;
  width: 100%;
  max-width: 150px;
  margin-top: 1vh;
  margin-left: 2vw;
  border-radius: 20px;
  color: white;
}
@media (max-width: 500px) {
  div.whatsapp {
      font-size: 8px;
      max-width: 100px;
  }
}

p.endereco{
  font-size: 14px;
  color: white;
}
@media (max-width: 500px) {
  p.endereco {
      font-size: 10px;
  }
}


button.agende{
  
  background-color: var(--verde-logo);
  border-radius: 10px;
  border-width: 0px;
  padding: 0.5% 10% 0.5% 10%;
  width: 40vw;
  height: 7vh;
  color: white;
  font-weight: bold;
}
@media (max-width: 700px) {
  button.agende {
      font-size: 13px;
  }
}

div.titulo-apresentacao{
  margin: 10% 15% 5% 15%;
  color: var(--azul-fundo);
  text-decoration: underline;
}

div.texto-apresentacao{
  margin: 10% 15% 5% 15%;
  color: var(--azul-fundo);
  text-align: justify;
 
  
}

div.apresentacao-container{
  margin-top: 20%;
  background-size: 100%;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../images/ambiente\ \(9\).jpeg'); 

  background-repeat: no-repeat;
  background-size: 100% 100%;
}


div.separador{
  background-color: var(--verde-logo);
}

ul.equipe{
  list-style-type:none;
}

ul.equipe li{
  margin-top: 2%;
}

div.resumo{
  width: 50%;
  height: 10px;
  margin: 20px 0 20px 0;
}

div.texto-resumo{
  text-align: justify;
  
}

@media (max-width: 565px) {
  div.col-resumo{
      background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../images/ambiente\ \(9\).jpeg'); 
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-bottom: 10px;
  }
}

div.botao-resumo{
  margin: 10%;  
}
button.resumo{
  width: 100%;
}

div.container-resumo{
  margin-top: 10%;
  margin-bottom: 10%;
}

img.imagem-resumo{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.servicos{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

div.container-servicos{
  background-color: var(--cinza-fundo);
  margin: 0;
  padding-bottom: 3%;
  padding-top: 3%;
  color: var(--azul-fundo);
  font-weight: bold;
}

div.separador-servicos{
  width: 50%;
  height: 10px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.lista-servicos{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 925px) {
  div.lista-servicos {
      margin-left: 1%;
      margin-right: 1%;
  }
}

div.botao-servicos{
  margin-top: 5%;
}
ul.servicos{
  list-style-type:none;
}

ul.servicos li{
  margin-top: 5%;
}

div.container-estrutura{
  padding-left: 10%;
  padding-right: 10%;
}

div.separador-estrutura{
  width: 30%;
  height: 10px;
  margin: 2% 0 2% 0 ;
}
h2.estrutura{
  margin-left: 0;
  margin-top: 5%;
}

img.estrutura{
  border-radius: 10px;
}

div.imagem{
  margin-bottom: 2%;
}

div.botao-estrutura{
  margin: 5% 10% 5% 10%;
}

div.container-rodape{
  background-color: var(--azul-fundo);
  height: 7vh;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 1%;
}
@media (max-width: 700px) {
  div.container-rodape {
      font-size: 10px;
      
  }
}
@media (max-width: 700px) {
  div.email {
      font-size: 11px;
      
  }
}

@media (max-width: 700px) {
  div.texto-rodape {
    padding:2%;  
      
  }
}

p.texto-final{
  width: 35vw;
  margin: auto;
  font-weight: bold;
  text-align: justify;
}

div.container-final{
 background-color: var(--cinza-fundo);
 padding-top: 4%;
 padding-bottom: 4%;
}

@media (max-width: 700px) {
  p.texto-final {
      font-size: 10px;
      width: 70vw;
  }
}




  div.mapa-externo{
    width: 100%;
    height: 50vh;
    padding: 1%;
  }

  #map {
    width: 100%;
    height: 100%;
  }


